html {
    font-size: 14px;
    font-family: 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', sans-serif;
    color: #222;
    overflow-x: hidden;
}

@media screen and (max-width: 767px) {
html {
    font-size: 15px;
}}

body {
    font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    margin:     0;
    max-width: 100%;
    overflow-x: hidden;
}

a{
  color: #222;
  text-decoration: none;
}

ul, ol{
  list-style: none;
  padding: 0;
}

.section_outer{
  overflow: hidden;
  padding: 100px 0;
}

.content_width{
  max-width: 1140px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  
}

@media screen and (max-width: 767px){
.content_width {
    max-width: none;
    padding-left: 20px;
    padding-right: 20px;
}}

.hover:hover{
  opacity: 0.5;
}

@media screen and (min-width: 768px){
.hover {
    transition: opacity 0.2s;
}}

.hover_color{
  color: #a2a2a4;
  text-decoration: none;
}

/* ヘッダー */

@media screen and (max-width: 1080px){
.header_nav_hamburger {
    display: block;
    position: relative;
    width: 30px;
    height: 21px;
    z-index: 100;
}}

@media screen and (max-width: 1080px){
.header-nav-hamburger-line:first-child {
    top: 0;
}}

@media screen and (max-width: 1080px){
.header-nav-hamburger-line {
    position: absolute;
    top: 50%;
    display: block;
    width: 50%;
    height: 3px;
    background-color: #222;
    transform: translate(0, -50%);
    border-radius: 10px;
    transition: top 0.2s, transform 0.2s, opacity 0.3s;
}}

@media screen and (max-width: 1080px){
.header-nav-hamburger-line:last-child{
    top: 100%;
}}

header{
  width: 100%;
  padding: 20px 0;
  position: absolute;
}

@media screen and (max-width: 1080px){
header {
    background-color: #fff;
    position: fixed;
    z-index: 10;
}}

.header_inner{
  max-width: 100%;
  margin: 0 36px 0 36px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.header_logo > img{
  width: auto;
  height: 20px;
}

@media screen and (max-width: 767px){
#header_logo_sp {
    display: inline-block;
    height: 16px;
}}

.header_nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1080px){
nav .header_nav {
    overflow-y: scroll;
    position: fixed;
    top: 60px;
    bottom: 0;
    transform: translate3d(-100%, 0, 0);
    left: 100%;
    width: 100%;
    display: block;
    padding-top: 20px;
    padding-bottom: 75px;
    transition: transform 0.5s;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-overflow-scrolling: touch;
}}

@media screen and (max-width: 767px){
.header_nav {
    top: 52px;
    bottom: 0;
}}

.header_nav_list{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 40px;
}

@media screen and (max-width: 1080px){
.header_nav .header_nav_list {
    margin-right: 0;
}}

.header_nav_list a{
  text-align: center;
  font-size: 10px;
}

@media screen and (max-width: 1080px){
.header_nav_list a {
    padding: 20px 0;
    font-size: 12px;
    margin-top: 10px;
    color: #f79314;
    letter-spacing: 2px;
}}

.header_nav_list a span{
  font-size: 14px;
  font-weight: bold;
}

@media screen and (max-width: 1080px){
.header_nav_list a span {
    font-size: 16px;
    letter-spacing: 5px;
    color: #fff;
}}

@media screen and (max-width: 1080px){
.header_button_outline {
  margin-top: 20px;
}}

.header_button{
  width: fit-content;
}

@media screen and (max-width: 1080px){
.header_button {
    margin: 0 auto;
    width: 250px;
}}

.counseling_button{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #f79314;
  border-radius: 30px;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  width: 80%;
  height: 40px;
  padding: 0 20px;
}

.header_button_outline > .counseling_button{
  font-size: 12px;
  height: 40px;
  padding: 0 20px;
}

@media screen and (max-width: 1080px){
.counseling_button {
    height: 60px;
    font-size: 16px;
}}

/* トップ */

.section_top{
  padding-top: 190px;
  padding-bottom: 28px;
  background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/top-hero.png);
  background-size: auto 100%;
  background-position: right 0;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767px){
body .section_top {
    padding-top: 258px;
    padding-bottom: 12px;
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/top-hero-sp.png);
}}

@media screen and (max-width: 767px){
.section_top .content-width {
    max-width: none;
    padding-left: 20px;
    padding-right: 20px;
}}

.potepan_box{
  position: relative;
  max-width: 337px;
}

@media screen and (max-width: 767px){
.content_width .potepan_box {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
}}

.top_logo > img{
  width: 100%;
  height: auto;
}

.catch{
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 1.7;
}

@media screen and (max-width: 767px){
.potepan_box .catch {
    font-size: 15px;
    text-shadow: 0 0 10px rgb(255 255 255 / 60%);
}}

.catch > span{
  color: #f79314;
}

.counseling .counseling_button{
  font-size: 16px;
}

.no1_box{
  margin: 0;
  position: absolute;
  top: 0;
  right: -170px;
}

@media screen and (max-width: 1024px){
.potepan_box .no1_box {
    top: -168px;
    right: 0;
    left: -28px;
}}

@media screen and (max-width: 767px){
.potepan_box .no1_box {
    top: -118px;
    left: -56px;
}}

@media screen and (max-width: 767px){
.no1_box img {
    width: 120px;
    height: 120px;
}}

.no1{
  width: 154px;
  height: 154px;
}

.note1{
  color: #888;
  font-size: 10px;
  max-width: 512px;
  padding-top: 132px;
}

@media screen and (max-width: 767px){
.note1 {
    padding-top: 24px;
    background-color: inherit;
    color: inherit;
}}

@media screen and (max-width: 1024px){
.note1 small {
    background-color: rgba(255, 255, 255, .3);
    color: #000;
    padding: 4px;
}}

/* 背景オレンジ色 */

.orange_band_part{
  font-weight: bold;
  color: #fff;
  background-color: #F79314;
  margin: 0;
  padding: 50px 0;
  width: 100%;
}

@media screen and (max-width: 767px){
.orange_band_part {
    padding: 30px 0;
}}

.about_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1024px){
.about_content {
    flex-direction: column;
    width: 100%;
}}

.about_potepan {
  text-align: left;
  width: 53%;
}

@media screen and (max-width: 767px){
.about_potepan {
    width: 100%;
}}

h1{
  font-size: 40px;
  letter-spacing: 1px;
  white-space: nowrap;
}

@media screen and (max-width: 767px){
h1 {
    font-size: 26px;
    text-align: center;
}}

h1 span{
  font-size: 45px;
  }

@media screen and (max-width: 767px){
h1 > span {
    font-size: 30px;
}}

.about_potepan p{
  color: #fff;
  font-weight: 700;
  margin-top: 15px;
  line-height: 26px;
}

.link_button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #F79314;
  background-color: #FFF;
  border-radius: 30px;
  text-decoration: none;
  text-align: center;
  align-items: center;
  font-weight: bold;
  width: 100%;
  height: 60px;
  padding: 0px 90px;
  font-size: 13px;
  border: none;
  box-sizing: border-box;
}

@media screen and (max-width: 767px){
.link_button {
    margin-top: 40px;
}}

@media screen and (max-width: 767px){
.link_button span:last-child {
    font-size: 12px;
}}

.link_button .bold{
  font-size: 20px;
  font-weight: bold;
}

.title{
  text-align: center;
  padding: 0px;
  white-space: nowrap;
}

h2{
  font-size: 40px;
  margin: 0 auto;
}

@media screen and (max-width: 767px){
.title > h2 {
    text-align: center;
    font-size: 26px;
    line-height: 1.2;
}}

h2 > span{
  font-size: 45px;
  font-weight: 900;
  font-family: 'Lato', sans-serif;
}

@media screen and (max-width: 767px){
h2 > span {
    font-size: 28px;
    letter-spacing: 1px;
}}

.title p{
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0 0;
}

@media screen and (max-width: 767px){
.title p{
    font-size: 14px;
}}

.title p span{
  font-size: 17px;
  font-weight: 900;
  font-family: 'Lato', sans-serif;
}

@media screen and (max-width: 767px){
.title p span{
    font-size: 14px;
}}

/* 特徴０１ */

.feature_list{
  text-align: center;
  width: 100%;
  margin: 40px 0 20px;
}

@media screen and (max-width: 767px){
.feature_list {
    margin-top: 90px;
}}

.feature_list > li{
  background-color: #FCFAF4;
  border-radius: 20px;
  width: 100%;
  padding: 15px 0;
  margin-top: 100px;
}

.list_number{
  font-size: 40px;
  font-weight: bold;
  color: #F79314;
  background-color: #FCFAF4;
  padding: 30px;
  border-radius: 50%;
}

@media screen and (max-width: 767px){
.list_number {
    font-size: 30px;
    padding: 25px;
}}

h3{
  position: relative;
  bottom: 27px;
  font-weight: bold;
  font-size: 30px;
  margin: -20px auto;
  letter-spacing: 1px;
}

@media screen and (max-width: 767px){
h3 {
    font-size: 20px;
    margin-top: -10px;
}}

.feature_text{
  font-size: 16px;
  margin-top: 0px;
  letter-spacing: 1.5px;
  font-weight: 700;
  line-height: 2;
}

@media screen and (max-width: 767px){
.feature_text {
    font-size: 15px;
    line-height: 2.2;
    margin: 0 10px;
}}

.values{
  font-size: 30px;
  font-weight: bold;
  color: #F79314;
}

@media screen and (max-width: 767px){
.values {
    font-size: 24px;
}}

.note2{
  color: #a2a2a4;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

@media screen and (max-width: 767px){
.note2 {
    text-align: left;
    margin-left: 10px
}}

.inner_box{
  background-color: #FFF;
  border-radius: 20px;
  padding: 30px 10px;
  margin: 0 30px 20px;
}

@media screen and (max-width: 767px){
.inner_box {
    padding: 20px;
    margin: 0 20px;
}}

.success_title div{
  display: inline-block;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
}

@media screen and (max-width: 767px){
.success_title div {
    font-size: 16px;
}}

.panda{
  width: 34px;
  height: auto;
  margin-left: 10px;
}

@media screen and (max-width: 767px){
.panda {
    margin-left: 5px;
    width: 24px;
}}

.pc{
  display: none;
}

@media screen and (max-width: 767px){
.pc {
    display: block;
}}

.sp{
  display: block;
}

@media screen and (max-width: 767px){
.sp {
    display: none;
}}

.success_list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 32px 0 10px 0;
}

@media screen and (max-width: 767px){
.success_list {
    margin: 14px 0 0 0;
}}

.success_link{
  display: contents;
  text-align: center;
  padding: 0 15px;
  margin: 45px 0;
}

.success_link:hover .success_text{
  color: #F8A449;
  transition: 0.2;
}

.example_content{
  display: flex;
  width: 30%;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 50px;
}

@media screen and (max-width: 767px){
.example_content {
    align-items: center;
    margin-bottom: 40px;
    padding-right: 0;
    width: 100%;
}}

.example_content img {
  width: 60px;
  height: 60px;
}

.success_text{
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin: 10px 16px;
  text-align: left;
}

.success_text > p{
  margin: 0 0;
  font-weight: bold;
}

.example_content::after {
  content: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/common/chevron-right.jpg);
  display: inline-block;
  height: fit-content;
  margin: auto;
  transform: scale(0.4);
}

@media screen and (max-width: 767px){
.example_content::after {
    margin-right: 6px;
}}

/* 特徴０２ */

@media screen and (max-width: 767px){
.feature_list > li + li {
    margin-top: 90px;
}}

.corporate_interview{
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 767px){
.corporate_interview {
    margin-bottom: 4px;
}}

.corporate_interview > .inner_box{
  display: flex;
  justify-content: space-between;
  padding: 30px 30px 20px;
}

@media screen and (max-width: 767px){
.corporate_interview > .inner_box:first-child {
    padding: 20px 20px 30px;
}}

@media screen and (max-width: 767px){
.corporate_interview > .inner_box {
    display: block;
    margin: 10px 20px 25px;
    padding: 20px;
}}

@media screen and (max-width: 767px){
.corporate_interview_left {
    margin-bottom: 16px;
}}

.corporate_interview_left img{
  display: block;
  border-radius: 4px;
  width: 390px;
  margin-bottom: 5px;
}

@media screen and (max-width: 767px){
.corporate_interview_left img {
    width: 100%;
}}

.corporate_interview_left .note2{
  display: block;
  text-align: left;
}

.corporate_interview_right{
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 40px 16px;
}

@media screen and (max-width: 767px){
.corporate_interview_right {
    margin: 0;
}}

.corporate_interview_right h4{
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 16px;
}

.detail_link{
  padding-right: 20px;
  text-align: right;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
}

@media screen and (max-width: 767px){
.detail_link {
    align-items: center;
    margin-top: 25px;
    position: static;
    text-align: right;
}}

.corporate_interview_link:hover{
  color: #F8A449;
  transition: 0.2;
}

.detail_link img{
  margin-left: 10px;
  width: 6px;
}

/* 特徴０３ */

/* レスポンシブ仮 */
@media screen and (max-width: 767px){
.review_engineer {
    display: block !important;
}}

@media screen and (max-width: 767px){
.review_engineer > .inner_box {
    margin: 0 auto 30px !important;
    width: calc(90% - 20px) !important;
}}

.review_engineer{
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 15px;
}

.review_engineer > .inner_box{
  background-color: #fff;
  border-radius: 15px;
  padding: 0;
  margin: 0 15px;
  width: calc(100% / 3);
}

.engineer_media{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-weight: bold;
  padding: 20px;
}

.engineer_logo{
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.engineer_logo > img{
  width: 90%;
}

.engineer_profile{
  display: flex;
  align-items: center;
  width: 100%;
}

.engineer_name{
  text-align: left;
  margin-left: 15px;
  font-size: 20px;
}

.engineer_name > span{
  color: #f79314;
  font-size: 14px;
}

.engineer_comment{
  width: 80%;
  position: relative;
  background-color: #f6f6f6;
  padding: 25px;
  border-radius: 10px;
  margin-top: 20px;
  text-align: left;
  line-height: 1.5;
}

.engineer_comment::before {
  content: '';
  position: absolute;
  top: -25px;
  left: 29px;
  margin-left: -15px;
  border: 15px solid transparent;
  border-bottom: 15px solid #f6f6f6;
}

/* 特徴０４ */

.referral_company{
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.referral_company > li{
  height: 71px;
  margin: 12px 0;
  padding: 0;
  width: 25%;
}

@media screen and (max-width: 767px){
.referral_company > li {
    margin: 0;
    padding: 0;
    width: 50%;
}}

.img_box{
  align-items: center;
  background-color: #fff;
  height: 100%;
  display: flex;
  justify-content: center;
}

.img_box > img {
  height: auto;
  max-width: 100%;
  max-height: 100%;
  width: auto;
}

/* 特徴０５ */

.support_contents{
  display: block;
  margin: 0;
  padding: 10px 25px;
  list-style-type: disc;
}

.support_contents > li{
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  list-style: disc;
  list-style-position: inside;
  margin-left: 1.4em;
  text-align: left;
  text-indent: -1.4em;
  width: 100%;
}

@media screen and (max-width: 767px){
.support_contents > li {
    margin-left: 0;
    text-indent: 0;
}}

.condition{
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin: 6px 20px 10px;
  text-align: left;
}

/* コース */

.course_section{
  background-color: #f6f6f6;
}

.course_inner{
  margin-top: 60px;
}

@media screen and (max-width: 767px){
.course_inner {
    margin-top: 50px;
    padding-left: 0;
    padding-right: 0;
}}

.career{
  display: flex;
  font-weight: bold;
  padding: 20px;
  background-color: #fff;
}

@media screen and (max-width: 767px){
.career {
    flex-direction: column;
    padding: 25px;
}}

.railscareer{
  width: 25%;
  margin: auto 0%;
  background: linear-gradient(to right, rgb(247, 146, 20) 0%, rgb(247, 78, 6) 100%);
}

@media screen and (max-width: 767px){
.railscareer {
    width: 100%;
}}

.background_white{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 17px;
  margin: 3px 3px;
  background-color: #fff;
  font-weight: bold;
}

.railscareer p{
  color: #f77f14;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
  padding: 0;
  margin: 0 0 7.5px;
}

.railscareer h5{
  font-size: 24px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.course_contents{
  margin-top: 20px;
}

@media screen and (max-width: 767px){
.course_contents {
    width: 100%;
    margin-top: 25px;
    padding-right: 0;
}}

.course_explain{
  color: #f77f14;
  font-size: 24px;
  margin: 0 10px;
}

@media screen and (max-width: 767px){
.course_explain {
    line-height: 1.5;
}}

.course_contents > div{
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px){
.course_contents > div {
    margin-top: 5px;
}}

.course_contents > div p:first-of-type {
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  background: linear-gradient(90deg, #212121, #444);
  padding: 6px 16px;
  border-radius: 20px;
  margin: 20px 15px 5px;
}

@media screen and (max-width: 767px){
.course_contents > div p:first-of-type {
    word-break: keep-all;
}}

.course_contents > div p:last-of-type{
  font-size: 18px;
  margin: 20px 15px 5px;
}

@media screen and (max-width: 767px){
.course_contents > .detail_link {
    position: static;
    text-align: right;
    margin-top: 25px;
    padding-right: 20px;
}}

.career:hover .course_contents > .detail_link{
  color: #F8A449;
  transition: 0.2;
}

.button_position{
  margin-top: 60px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px){
.button_position {
    margin-top: 40px;
    max-width: 250px;
}}

.orange_link_button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background-color: #f79314;
  border-radius: 30px;
  text-decoration: none;
  text-align: center;
  align-items: center;
  font-weight: bold;
  width: 100%;
  height: 60px;
  font-size: 20px;
  border: none;
}

.orange_link_button span:first-child{
  letter-spacing: 4px;
  line-height: 1.5;
  font-family: 'Lato', sans-serif;
}

.orange_link_button span:last-child{
  font-size: 14px;
}

@media screen and (max-width: 767px){
.orange_link_button span:last-child {
    font-size: 12px;
}}

/* メッセージ */

.message_section{
  background-color: #FCFAF4;
}

.message_title{
  font-size: 50px;
  color: #ff802c;
  line-height: 1;
  letter-spacing: 3px;
  position: relative;
  z-index: 1;
  margin-left: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}

@media screen and (max-width: 1024px){
.message_title {
    font-size: 28px;
    letter-spacing: 2px;
    margin-bottom: 55px;
}}

.message_contents{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -70px;
}

@media screen and (max-width: 1024px){
.message_contents {
    flex-direction: column;
    position: relative;
    background-color: #fff;
    padding: 45px 40px 40px;
}}

.message_text{
    background-color: #fff;
    padding: 40px 150px 40px 40px;
    margin-right: -100px;
}

@media screen and (max-width: 1024px){
.message_text {
    padding: 0;
    margin-right: 0;
    margin-top: 30px;
    order: 2;
}}

.message_text p{
  line-height: 2;
}

.message_thumbnail{
  position: relative;
}

@media screen and (max-width: 1024px){
.message_thumbnail {
    order: 1;
}}

.message_thumbnail p{
  position: absolute;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 10px #808080;
}

.message_thumbnail span{
  font-size: 24px;
}

@media screen and (max-width: 1024px){
.message_thumbnail > img {
    width: 100%;
}}

/* 受講生の声 */

.studentsvoice_contents{
  width: 100%;
  padding: 30px 10px;
}

.students_interview_media{
  display: flex;
  padding: 0;
  margin: 0 -20px;
}

@media screen and (max-width: 1070px){
.students_interview_media {
    display: block;
    margin-left: 0;
    margin-right: 0;
    padding-left: 80px;
    padding-right: 80px;
}}

@media screen and (max-width: 840px){
.students_interview_media {
    padding-left: 40px;
    padding-right: 40px;
}}

@media screen and (max-width: 560px){
.students_interview_media {
    padding: 0;
}}

.students_interview_media > li{
  padding-left: 20px;
  padding-right: 20px;
  width: calc(100% / 3);
}

@media screen and (max-width: 1070px){
.students_interview_media > li {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}}

@media screen and (max-width: 1070px){
.students_interview_media > li + li {
    margin-top: 20px;
    padding-top: 30px;
    border-top: solid 1px #efefef;
}}

.interview_media_thumbnail{
  overflow: hidden;
  position: relative;
  padding-top: 100%;
}

.interview_media_thumbnail img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 767px){
.interview_media_thumbnail img {
    display: block;
}}

.interview_media:hover .interview_media_thumbnail img{
  transform: scale(1.1);
  transition: 0.2s;
}

.interview_media:hover .interview_media_text{
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
    line-height: 1.8;
    color: #f79314;
    transition: 0.2s;
}

.interview_titlebox{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 40px 20px 0px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 55%, rgba(30, 30, 30, 0.7), rgba(50, 50, 50, 0));
}

@media screen and (max-width: 767px){
.interview_titlebox {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 55%, rgba(30, 30, 30, 0));
    padding: 50px 10px 10px;
}}

.interview_media_title{
  font-size: 16px;
  font-weight: bold;
  color: #f79314;
}

.interview_media_subtitle{
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  margin-top: -10px;
  padding-top: 4px;
  border-top: 1px solid #fff;
}

@media screen and (max-width: 767px){
.interview_media_subtitle {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}}

.interview_media_subtitle > span:last-child {
  font-size: 12px;
  margin-left: 15px;
}

@media screen and (max-width: 767px){
.interview_media_subtitle > span:last-child {
    margin-left: 0;
}}

@media screen and (max-width: 767px){
.interview_media_subtitle:after {
    content: '';
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    bottom: 13px;
    right: 13px;
    border-right: solid 3px #f79214;
    border-top: solid 3px #f79214;
    transform: rotate(45deg);
}}

.interview_media_text{
  font-size: 15px;
  font-weight: bold;
  margin-top: 15px;
  line-height: 1.8;
}

@media screen and (max-width: 767px){
.interview_media_text {
    margin-top: 20px;
}}

/* フッター */

footer{
  background-color: #F79314;
  padding-top: 80px;
  padding-bottom: 40px;
  position: relative;
}

@media screen and (max-width: 767px){
footer {
    padding-top: 60px;
    padding-bottom: 40px;
}}

footer .content_width{
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px){
footer .content_width {
    display: block;
    text-align: center;
}}

.page_top_button{
  width: 50px;
  height: 50px;
  position: absolute;
  top: -25px;
  right: 50px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 12px 30px -15px;
  transition: 0.2s;
  align-items: center;
  justify-content: center;
}

.page_top_arrow{
  height: 10px;
  width: 10px;
  border-left: solid 3px #f79214;
  border-top: solid 3px #f79214;
  transform: rotate(45deg);
  text-decoration: none;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  top: 5px;
  left: 18px;
}

.footer_nav{
  margin-right: 20px;
  order: 2;
}

@media screen and (max-width: 767px){
.footer_nav {
    text-align: left;
    margin-right: 0;
    margin-left: 20px;
}}

.footer_nav > li + li{
  margin-top: 30px;
}

.footer_nav_link{
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

.footer_nav_link span{
  font-weight: normal;
  margin-left: 1em;
}

.footer_nav_and_character{
  order: 3;
}

@media screen and (max-width: 767px){
.footer_nav_and_character {
    margin-top: 30px;
}}

.footer_nav_and_character .footer_nav{
  align-self: flex-start;
}

.footer_panda{
  align-self: flex-end;
  margin: 90px 0 0 40px;
}

@media screen and (max-width: 767px){
.footer_panda {
    margin: 34px auto;
}}

.footer_panda > img{
  width: auto;
  height: 70px;
}

address{
  display: block;
  margin-right: 40px;
  order: 1;
  font-style: normal;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

@media screen and (max-width: 767px){
address {
    padding-top: 30px;
    margin-top: 30px;
    margin-right: 0;
    border-top: 1px solid #fff;
}}

.footer_logo{
  display: inline-block;
  max-width: 280px;
}

@media screen and (max-width: 767px){
.footer_logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}}

.footer_logo > img{
  width: 100%;
  height: auto;
}

.footer_company{
  margin: 25px 0 0;
}

.footer_address{
  margin: 10px 0 0;
}

@media screen and (max-width: 767px){
.footer_company, .footer_address {
    text-align: center;
}}

.potepan_sns{
  display: flex;
  padding: 0;
  margin-top: 35px;
}

@media screen and (max-width: 767px){
.potepan_sns {
    justify-content: center;
}}

@media screen and (max-width: 767px){
.potepan_sns {
    justify-content: center;
}}

.footer_sns_item{
  display: block;
  max-width: 60px;
  padding-right: 20px;
}

@media screen and (max-width: 767px){
.footer_sns_item {
    padding: 0 10px;
}}

.footer_sns_item > img{
  width: 100%;
  height: auto;
}

.footer_copyright{
  margin-top: 60px;
}

@media screen and (max-width: 767px){
.footer_copyright {
    text-align: center;
}}

.footer_copyright small{
  color: #fff;
  font-size: 12px;
}